body, html {
    margin: 0;
    font-family: sans-serif;
}
h1, h4 {
    text-align: center;
}
.content {
    margin: 0 auto;
    width: 100%;
}

table, td, th {
    border: 1px solid #aaa;

}

table {
    border-collapse: collapse;
    margin:auto; 
    text-align: center;
    width: auto;
    min-width: 0;
    display: table;

}

th {
    height: 30px;
}

td {
    text-align: left;
    padding: 5px;
    width: 30px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}